.appr{
    margin: 4em auto 0;
    padding-bottom: 4em;
}
.appr-topic{
    font-size: 46px;
    color: #6e1010;
    margin: 2em auto;
}
.appr-img{
    margin: 1em;
    background:
        linear-gradient(to right, #961f1f 3px, transparent 3px) 0 100%,
        linear-gradient(to left, #961f1f 3px, transparent 3px) 100% 0,
        linear-gradient(to bottom, #961f1f 3px, transparent 3px) 100% 0,
        linear-gradient(to top, #961f1f 3px, transparent 3px) 0 100%;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border-radius: 4px;
}
.appr-img img{
    width: 20em;
    padding: 1em 0.2em;
}
